DATABASE_URL=postgres://microblog:microblog@db:5432/microblog?sslmode=disable

KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=engagement
KAFKA_TOPIC_USER_REGISTERED=user_registered
KAFKA_TOPIC_POST_CREATED=post_created
KAFKA_TOPIC_POST_LIKED=post_liked
KAFKA_WRITE_TIMEOUT_SECONDS=5
KAFKA_RETRIES=3

ENGAGEMENT_PORT=:8081
SHUTDOWN_TIMEOUT_SECONDS=10
